
<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @post.country %>
</p>

<p>
  <strong>Dependent person:</strong>
  <%= @post.dependent_person %>
</p>

<p>
  <strong>Related news:</strong>
  <%= @post.related_news %>
</p>

<p>
  <strong>News date:</strong>
  <%= @post.news_date %>
</p>

<p>
  <strong>Yours thought:</strong>
  <%= @post.yours_thought %>
</p>
<% if @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-info' %> |
<% end %>
<%= link_to 'Back', posts_path, class: 'btn btn-info' %>
